* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #E5E5E5;
    color:#0A3871;

    height: 100vh;
    width: 100%;
}

body, textarea, button {
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 8rem;
    
    background-color: #33547e;
    align-items: center;

    box-shadow: 0 2px 5px 2px rgba(12, 12, 12, 0.08);

    position: fixed;
}

.logo {
    width: 3.2rem;
    height: 4.8rem;

    margin-left: 1.6rem;
    padding-top: 0.5rem;
}

.text {
    width: 34.3rem;
    height: 30rem;

    border: none;
    color:#0A3871;
    background: none;

    margin: 12rem 1.6rem 0 1.6rem;
    
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.8rem;
}

.text::placeholder {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4.8rem;

    color:#0A3871;
}

.text:focus {
    outline: none;
}

.information {
    color: #495057;

    font-size: 1.2rem;
    line-height: 1.8rem;
}

.information img {
    margin: 1rem 0 0 3rem;
}

.buttons {
    display: inline;
}

.btn-encrypt {
    height: 6.7rem;
    width: 32.8rem;

    background-color: #0A3871;
    color: white;
    
    border: 1px solid #0A3871;
    border-radius: 2.4rem;

    cursor: pointer;
    margin: 1.6rem 1.6rem 0 3rem;
}

.btn-decrypt {
    height: 6.7rem;
    width: 32.8rem;

    background-color: #E5E5E5;
    color: #0A3871;
    
    border: 1px solid #0A3871;
    border-radius: 2.4rem;
    
    cursor: pointer;
    margin: 2.4rem 1.6rem 0 3rem;
}

.message {
    border: none;
    border-radius: 2.4rem;
    color: #0A3871;

    margin: 6.4rem 2rem 4rem 2rem;
    padding: 2rem;

    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.message:focus {
    outline: none;
}

.message::placeholder {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    
    color: #343A40;
    
    text-align: center;

    padding-top: 3.2rem;
}

.btn-copy {
    display: none;
    background: none;
    color: #0A3871;
    
    border: 1px solid #0A3871;
    border-radius: 2.4rem;
    
    cursor: pointer;
    
    width: 27.9rem;
    height: 6.7rem;

    position: absolute;
}

footer {
    background: #33547e;

    width: 100%;
    height: 4rem;

    margin-top: 5rem;
    padding: 1.5rem;
    text-align: end;
}

footer a {
    font-size: 1.3rem;
    color: #D8DFE8;
    text-decoration: none;
}

@media (max-width: 399px) {
    header {
        width: 100%;
    }

    footer {
        position: fixed;
    }
}

@media (min-width: 768px) {
    
    header {
        width: 100%;
    }

    .logo {
        height: 5rem;
        margin-left: 4rem;
    }

    main {
        display: inline;
    }

    .text {
        width: 68.8rem;
        margin: 16rem 0 0 4rem;
    }

    .information img {
        margin-left: 4rem;
    }

    .buttons {
        align-items: center;
    }

    .message {
        border-radius: 3.2rem;
        width: 68.8rem;

        margin-left: 4rem;
        padding: 3.2rem;
    }
}

@media (min-width: 1024px) {

    header {
        width: 100%;
    }

    .logo {
        margin-left: 8.4rem;
    }

    main {
        display: flex;
    }

    section {
        width: 65.6rem;
    }

    .text {
        margin-left: 16rem;
        width: 58rem;
    }

    .information img {
        margin: 6rem 0 0 16rem;
    }

    .buttons {
        display: flex;
        width: 65.6rem;
        margin-left: 12rem;
    }

    .btn-decrypt {    
        background-color: #D8DFE8;
        color: #0A3871;
    }

    .message {
        border-radius: 3.2rem;
        height: 52rem;
        width: 34rem;
        
        margin: 12rem 2rem 2rem 24rem;

        background-image: url("./assets/research.png");
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
    }

    .message::placeholder {    
        padding-top: 40rem;
    }

    .btn-copy {
        display: none;
        position: absolute;

        top: 56rem;
        right: 8rem;
    }
}

@media (min-width: 1440px) {

    .text {
        margin-left: 20rem;
        height: 26rem;
        width: 56rem;
    }

    .information img {
        margin: 1rem 0 0 20rem;
    }

    .buttons {
        margin-left: 14rem;
    }

    .message {
        width: 40rem;
        margin-left: 32rem;
    }
}
